In [1]:
import pandas as pd

mutations_file = '../datasets/mutation_distribution_in_lineages.txt'

threshold = 0.9
variant_name = 'P.1'
variant_name = 'BA.1.1.7'

mutations_df = pd.read_table(mutations_file, sep='\t', usecols=['Lineage',
                                                                    'Frequency of mutated sequences per Lineage',
                                                                    'Genome position',
                                                                    'Ref seq',
                                                                    'ut seq'])
                                                                    
mutations = mutations_df[(mutations_df['Lineage'].isin(["P.1", "BA.1.1.7"])) & (mutations_df['Frequency of mutated sequences per Lineage'] >= threshold)]

In [2]:
mutations['Genome position'].to_list()

[14408,
 18163,
 10029,
 23202,
 23403,
 23525,
 23599,
 23604,
 23854,
 23948,
 24130,
 241,
 24424,
 24469,
 24503,
 11537,
 26270,
 26577,
 26709,
 2832,
 28881,
 28883,
 8393,
 10449,
 14408,
 17259,
 21614,
 21621,
 21638,
 21974,
 22132,
 11287,
 22812,
 23012,
 23063,
 23403,
 23525,
 241,
 24642,
 25088,
 26149,
 28167,
 28512,
 28877,
 28878,
 28881,
 28883,
 5648,
 2470,
 3037,
 5386,
 13195,
 15240,
 25584,
 27259,
 28882,
 733,
 2749,
 3037,
 6319,
 6613,
 12778,
 13860,
 28882]

In [10]:
mutations

,Frequency of mutated sequences per Lineage,Lineage,Genome position,Ref seq,ut seq
55631,0.986234,BA.1.1.7,14408,C,T
55632,0.973451,BA.1.1.7,18163,A,G
55634,0.991150,BA.1.1.7,10029,C,T
55671,0.921337,BA.1.1.7,23202,C,A
55672,0.993117,BA.1.1.7,23403,A,G
...,...,...,...,...,...
188711,0.979377,P.1,6319,A,G
188712,0.976530,P.1,6613,A,G
188713,0.984358,P.1,12778,C,T
188714,0.983013,P.1,13860,C,T
188715,0.954233,P.1,28882,G,A